.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  height: 100vh;
  background-color: #f2f2f2;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #0c0f0a;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > div {
  height: 100%;
  width: 80%;
  color: white;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

.display {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 83%;
  height: 50px;
  background-color: #ccc;
  border: 1px solid #ccc;
  margin: 20px;
}

.container > form {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form > input {
  width: 80%;
  height: 60%;
}

button {
  background-color: #0c0f0a;
  border: 1px solid;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.patient {
  width: 80%;
  height: 50px;
  background-color: #ccc;
  color: black;
  padding-left: 50px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

footer {
  position: fixed;
  height: 10vh;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
